club.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="catIdType">
    <xs:restriction base="xs:ID">
      <xs:pattern value="C[0-9]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="memberIdType">
    <xs:restriction base="xs:ID">
      <xs:pattern value="M[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="contestIdType">
    <xs:restriction base="xs:ID">
      <xs:pattern value="CO[0-9]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="emailType">
    <xs:restriction base="xs:string">
      <xs:pattern value=".+@.+\..+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nonEmptyStringType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="coeffType">
    <xs:restriction base="xs:decimal">
      <xs:minExclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="complexiteType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="100"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tempsExecType">
    <xs:restriction base="xs:integer">
      <xs:minExclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Elements -->
  <xs:element name="club">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="categories">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="categorie" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="id" type="catIdType" use="required"/>
                  <xs:attribute name="libelle" type="nonEmptyStringType" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="membres">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="membre" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nom" type="nonEmptyStringType"/>
                    <xs:element name="prenom" type="nonEmptyStringType"/>
                    <xs:element name="email" type="emailType"/>
                  </xs:sequence>
                  <xs:attribute name="id" type="memberIdType" use="required"/>
                  <xs:attribute name="categorieRef" type="xs:IDREF" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="concours">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="concours" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="titre" type="nonEmptyStringType"/>
                    <xs:element name="participants">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="participant" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="complexite" type="complexiteType"/>
                                <xs:element name="tempsExecution" type="tempsExecType"/>
                              </xs:sequence>
                              <xs:attribute name="membreRef" type="xs:IDREF" use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="contestIdType" use="required"/>
                  <xs:attribute name="categorieRef" type="xs:IDREF" use="required"/>
                  <xs:attribute name="date" type="xs:date" use="required"/>
                  <xs:attribute name="coefficient" type="coeffType" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="nom" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
